body {
  background-color: #21252b;
  font-family:  Helvetica, Arial, sans-serif;

}

/******************************************************************************************/
#greetingPage {
  background-color: #21252b;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  height:100vh;
}

#greeting {
  color: whitesmoke;
}

/******************************************************************************************/
#navigationBar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  /*background-color: #21252b;*/
  height: 50px;
  color:whitesmoke;


  background-color: #21252b;

  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
}

#navigationBar a {
  display: inline-grid;
  float: left;
  background-color: #21252b;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/******************************************************************************************/
#about {
  height:100vh;
  margin-top: 30px;
  color:#21252b;
  background-color: whitesmoke;
  
  text-align: center;
}

#oneSentenceDesc {
  font-size: 24px;
}

#aboutLabel {
  text-align: center;
  font-size: 30px;
}
#me {
  max-width: 25%;
  height: auto;
      
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}

#iconBlock {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 50px;
}

.iconPack {
  text-align: center;
}

.iconLabel {
  font-size: 1.5em;
  font-weight: bold;
  
}

.iconText {
  font-size: 1em;
}

.icon
{
  display:inline-grid;
  max-width: 25%;
  height: auto;
  
}

/******************************************************************************************/

#portfolioBlock {
  background-color: #21252b;
  height:100vh;
}
#portfolio {
  margin: 20px;
  font-size: 20px;
  color:whitesmoke
}


/******************************************************************************************/

#contactBlock {
  height:100vh;
  margin-top: 30px;
  color:#21252b;
  background-color: whitesmoke;
  text-align: center;
}

#contactHeader {
  margin-top: 60px;
  text-align: center;
}

.inputBox {
  width: 25%;
  margin: 15px;
  box-sizing:content-box;
  padding: 12px 20px;
  border: none;
  border-bottom: 2px solid #21252b;
  background-color: whitesmoke;
  font-weight: bold;
}

#submitButton {
  background-color: #21252b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  font-weight: bold;
  border: #21252b 2px solid;

}

/******************************************************************************************/

.footerBlock {
  background-color: #21252b;
  color: whitesmoke;
}

.creditHeading {
  margin-left: 20px;
}

#credit1, #credit2 {
  margin-left: 20px;
}

.linkColor{
  color: whitesmoke;
}

#backToTop {
  margin-left: 20px;
  color: whitesmoke;
  font-weight: bold;
}

/******************************************************************************************/

#blogHeader {
  margin-top:60px;
  text-align: center;
  color: whitesmoke;
}

.blogBlock {
  
  border: #21252b solid 2px;
  background-color: whitesmoke;
}

.blogHeader {
  margin-top: 20px;
  font-size: x-large;
  text-align: center;
  
}

#blogImg {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
      
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}


.blogContent {
  font-size: large;
  margin: 15px;
}

/******************************************************************************************/

