body {
  background-color: whitesmoke;
  font-family:  Helvetica, Arial, sans-serif;

}

/******************************************************************************************/
#greetingPage {
  background-color: #282c34;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  height:100vh;
}

#greeting {
  color: whitesmoke;
}

/******************************************************************************************/
#navigationBar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  /*background-color: #21252b;*/
  height: 50px;
  color:whitesmoke;


  background-color: #21252b;

  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
}

#navigationBar a {
  display: inline-grid;
  float: left;
  background-color: #21252b;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/******************************************************************************************/
#about {
  
  margin-top: 30px;
  color:#21252b;
  background-color: whitesmoke;
  
  text-align: center;
}

#oneSentenceDesc {
  font-size: large;
}

#aboutLabel {
  text-align: center;
}
#me {
  max-width: 25%;
  height: auto;
      
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}

#iconBlock {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.iconPack {
  text-align: center;
}

.iconLabel {
  font-size: 2em;
}

.iconText {
  font-size: 1em;
}

.icon
{
  display:inline-grid;
  max-width: 25%;
  height: auto;
  
}

/******************************************************************************************/

#portfolioBlock {
  border: 2px #21252b solid;
}
#portfolio {
  margin: 20px;
  font-size: large;
}


/******************************************************************************************/


.footerBlock {
  background-color: #21252b;
  color: whitesmoke;
}

.creditHeading {
  margin-left: 20px;
  
}

#credit1, #credit2 {
  margin-left: 20px;
}

/******************************************************************************************/

#blogHeader {
  margin-top:60px;
  text-align: center;
}

.blogBlock {
  
  border: #282c34 solid 2px;
}

.blogHeader {
  margin-top: 20px;
  font-size: x-large;
  text-align: center;
}

#blogImg {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
      
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}


.blogContent {
  font-size: large;
  margin: 15px;
}

/******************************************************************************************/

#contactHeader {
  margin-top: 60px;
  text-align: center;
}